{% extends 'base.html' %}{% load crispy_forms_tags %} {% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js"
	type="text/javascript"
></script>
<link
	href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css"
	rel="stylesheet"
	type="text/css"
/>
{% endblock head %} {% block content %}
<h1 class="m-4">Guitar Details</h1>
<div class="card m-4 border shadow p-3 bg-white rounded">
	<div class="card-body">
		<h2>{{guitar.brand}} {{guitar.model}}</h2>
		<p>Type: {{guitar.guitar_type}}</p>
		<p class="mt-n2">Price: ${{guitar.price}}</p>
		<p class="mt-n2">Description: {{guitar.description}}</p>
	</div>
	<button
		class="btn btn-secondary dropdown-toggle position-absolute float-right"
		type="button"
		id="dropdownMenu2"
		data-toggle="dropdown"
		aria-haspopup="true"
		aria-expanded="false"
		style="right: 10px"
	></button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
		<a href="{% url 'update' guitar.id %}">
			<button class="dropdown-item" type="button">Edit</button>
		</a>
		<a href="{% url 'delete' guitar.id%}">
			<button class="dropdown-item" type="button">Delete</button>
		</a>
	</div>
</div>

<div class="card m-4 border shadow p-3 bg-white rounded">
	<div class="card-body container">
		<h2 class="bp-3">Maintenance Schedules:</h2>
		<div class="row py-2">
			<div class="col-xl-5 col-md-6 col-12">
				<form
					action="{% url 'add_maintenance' guitar.id %}"
					method="post"
					autocomplete="off"
				>
					{% csrf_token %} {{maintenance_form|crispy}}
					<input type="submit" value="Add!" class="btn btn-primary" />
				</form>
			</div>
		</div>

		{% if guitar.maintenance_set.count > 0 %}
		<hr />
		{% if guitar.future_maintenance_scheduled == False %}
		<div class="row py-2">
			<strong class="col-12"> No future maintenance scheduled! </strong>
		</div>
		<hr />
		{% endif %}
		<div class="row">
			{% for maintenance in guitar.maintenance_set.all %}
			<!--  comment -->
			{% if maintenance.date < guitar.get_current_date %}
			<span class="col-12" style="color: red">
				{{maintenance.date}}
				<hr />
			</span>
			{% else %}
			<span class="col-12">
				{{maintenance.date}}
				<hr />
			</span>
			{% endif %} {% endfor %}
		</div>
		{% else %}
		<div>No Maintenance Schedules Yet!</div>
		{% endif %}
	</div>
</div>

<div class="card m-4 border shadow p-3 bg-white rounded">
	<div class="card-body">
		<h2 class="bp-3">Guitar Accessories:</h2>
		<div class="row">
			{% if accessories.count > 0 %}
			<form
				method="post"
				class="col-12"
				action="{% url 'add_accessory' guitar.id %}"
			>
				{% csrf_token %}
				<select name="accessories" class="mt-3">
					{% for accessory in accessories %}
					<option value="{{accessory.id}}">
						A {{accessory.color}} {{accessory.name}}
					</option>
					{% endfor %}
				</select>
				<input
					type="submit"
					value="Add!"
					class="btn btn-primary ml-1"
				/>
			</form>
			{% endif %}
		</div>
		<hr />
		<div class="row">
			{% for accessory in guitar.accessories.all %}
			<span class="col-12">
				A
				<span style="color:{{accessory.color}}">
					{{accessory.color}}
				</span>
				{{accessory.name}}
				<form
					class="d-inline pl-2"
					method="post"
					action="{% url 'remove_accessory' guitar.id accessory.id%}"
				>
					{% csrf_token %}
					<input
						type="submit"
						value="Remove"
						class="btn btn-outline-danger"
					/>
				</form>
				<hr />
			</span>
			{% endfor %}
		</div>
	</div>
</div>

<!-- Used for date input -->
<script>
	$('#id_date').datepicker({
		format: 'mm/dd/yyyy'
	});
</script>
{% endblock content %}
