{% extends 'base.html' %} {% block content %}
<h1 class="m-4">Guitar List</h1>
{% for guitar in guitars %}
<div class="card m-4 border shadow p-3 bg-white rounded">
	<div class="card-body">
		<p class="font-weight-bold">
			<span class="font-weight-normal">Guitar: </span>{{guitar.brand}}
			{{guitar.model}}
		</p>
		<p class="font-weight-normal">Guitar Type: {{guitar.guitar_type}}</p>
		<p class="font-weight-bold">
			<span class="font-weight-normal">Price: </span>${{guitar.price}}
		</p>
		<a href="{% url 'detail' guitar.id %}" class="stretched-link"></a>
	</div>
</div>
{% endfor %} {% endblock content %}
